/*Import Files*/

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,700);
/*Main Document Settings and Variables*/

:root {
    --maxwidth: 625px;
    --iconwidth: 90px;
    --borderwidth: 3px;
    --headerheight: 120px;
    --elementspacing: 5px;
    --main-color: rgba(78, 181, 241);
    --main-color-opaque: rgba(78, 181, 241, .7);
}

* {
    border-radius: 5px;
    color: white;
    font-family: Lato, sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    margin: 0 auto;
    transition: all 0.2s;
}

body {
    background-image: url("../img/weiskotten.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
      -moz-background-size: cover;
    max-width: var(--maxwidth);
    margin: 0 auto;
    height: 100%;

}

/* Preloader */

#preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(24, 25, 27);
    z-index: 99;
    height: 100%;
    width: 100%;
}

#status {
    /*content: url('../img/pizza.gif');*/
    /*content: url('../img/medical.gif');*/
    /*content: url('../img/paper-airplane.gif');*/
    content: url('../img/fire.gif');
    position: absolute;
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 50%;
    bottom: 35%;
    transform: translateX(-50%);
}

.loading-text {
    position: absolute;
    /*text-align: center;*/
    /*vertical-align: middle;*/
    font-size: 35px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.forecast-data {
    width: 100%;
    transition: ease-out;
    font-size: 15px
}
.right-column:hover .forecast-data {
    max-height: 40%;
}

/*Class Files*/

.header-pane {
    border: 3px solid white;
    background-color: var(--main-color-opaque);
    width: 100%;
    margin-top: 30px;
    margin-bottom: var(--elementspacing);
    height: var(--headerheight);

}

.row-distribution {
    display: flex;
    justify-content: space-between;
    float: left;
    width: 100%;
}

.column-distribution {
    display: flex;
    float: left;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

.time-panel {
    display: flex;
    float: left;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

.upstate-seal {
    background-image: url('../img/upstate-seal.png');
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    background-origin: content-box;
}

/* Javascript HTML Values */

#clock-value {
    font-size: 50px;
    font-weight: 500;
}

#date-value {
    /*font-size: 35px;*/
    margin: 0;
    padding-bottom: 6px;
    padding-top: -6px;
    font-weight: 300;
}

#temp-value {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}

#weather-desc {
    display: block;
    text-transform: capitalize;
    /*margin-top: auto;*/
    /*margin-bottom: 0;*/
    font-size: 50px;
}
.temp-range {
    font-size: 16px;
    font-weight: 700;
}

.sun-times {
    display: flex;
    justify-content: center;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    width: 100%;
    font-size: 15px;
    /*padding-top: 10px;*/
}
.sunset {
    /*font-size: 18px;*/
}
.sunrise {
    /*font-size: 18px;*/
}

/* Search Input */

.search-form {
    width: 100%;
    margin-bottom: var(--elementspacing);
}

.search-query {
    width: 100%;
    border: 3px solid var(--main-color);
    text-indent: 8px;
    font-size: 20px;
    color: black;
    padding: 12px 10px 12px 40px;
}

.search-query:focus {
    outline: none;
}
.max-temp {
    display: inline;
    /*font-size: 20px;*/
}
.min-temp {
    display: inline;
    /*font-size: 20px;*/
}
.divider {
    /*font-size: 18px;*/
    /*font-weight: 1000;*/
}

.uptodate-icon {
    background-image: url('../img/uptodate.png');
    background-position: left;
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 28px;
}

/* Link Buttons */

.container {
    height: auto;
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

.link-btn {
    width: 100%;
    display: block;
    padding: 0.5em 0em;
    margin-top: 0;
    border: 3px solid white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    background: var(--main-color-opaque);
    font-size: 20px;
}

.link-btn:hover {
    color: var(--main-color);
    border: 3px solid var(--main-color);
    border-radius: 2em;
    background-color: white;
}

.left-column {
    float: left;
    width: 100%;
    height: auto;
    margin: 0;
}

.right-column {
    width: 100%;
    float: left;
    height: auto;
    margin: 0;
}

.forecast-temp {
    /*font-weight: */
    margin-top: 8px;
    margin-bottom: 8px;
}
.weather-time {
    /*font-weight: 700;*/
    margin-top: 8px;
    margin-bottom: 8px;
}

.weather-pane {
    width: 100%;
    height: 100%;
    background-color: var(--main-color-opaque);
    border: 3px solid white;
    padding: .8em 1.2em;
    text-decoration: none;
    color: white;
}
.up-arrow {
    font-size: 30px;
}
.weather-info {
    font-size: 26px;
    float: left;
    margin-top: 0;
    /*margin-bottom: auto;*/
}

.horiz-line {
    width: 95%;
    border-top: 3px solid white;
    /*margin-top: -5px;*/
    /*margin-top: -15px;*/
}
.right-column:hover .horiz-line{
    display: block;
}

.btn-icon {
    display: block;
    border: solid white;
    border-width: 3px;
    float: left;
    margin: 0;
    padding: 0;
}

.btn-icon:hover {
    border-color: var(--main-color);
    border-radius: 10px;
}

.facebook {
    background-image: url('../img/facebook.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.facebook:hover {
    border-radius: 10px;
}

.gmail {
    background-image: url('../img/gmail.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.gmail:hover {
    border-radius: 10px;
}

.netflix {
    background-image: url('../img/netflix.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.netflix:hover {
    border-radius: 10px;
}

.youtube {
    background-image: url('../img/youtube.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.youtube:hover {
    border-radius: 10px;
}

.npr {
    background-image: url('../img/npr.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.npr:hover {
    border-radius: 10px;
}

.groupme {
    background-image: url('../img/groupme.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.groupme:hover {
    border-radius: 10px;
}

.weather-icon {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.weather-container {
    width: 100%;
    /*margin-top: auto;*/
    /*margin-bottom: auto;*/
}

.icon-color {
    color: rgb(27, 35, 78);
}

.name-credits {
    display: inline;
    position: relative;
    font-size: 15px;
    color: #474646;
    text-decoration: none;
    text-align: right;
    left: 45px;
    top: 10px;
}

.name {
    font-size: 20px;
    color: rgba(78, 181, 241);
}

.name-box {
    position: absolute;
    border-radius: 50px 0 0 0;
    width: 150px;
    height: 65px;
    right: 0;
    bottom: 0;
    background-color: white;
    border-left: 3px solid var(--main-color);
    border-top: 3px solid var(--main-color);
}

.feedback {
    position: absolute;
    font-size: 15px;
    color #474646;
    text-decoration: none;
    text-align: right;
    top: 22px;
    right: 33px;
}

.name-box:hover .name-credits {
    /*font-weight: bold;*/
}

.name-box:hover {
    background-color: var(--main-color);
    border-left: 3px solid white;
    border-top: 3px solid white;
    width: 300px;
}

.name-box:hover .name {
    color: white;
    /*font-weight: bold;*/
}
