/*Import Files*/

@import url(https://fonts.googleapis.com/css?family=Lato:100);
/*Main Document Settings and Variables*/

:root {
  --maxwidth: 600px;
  --iconwidth: 90px;
  --borderwidth: 3px;
  --headerheight: 120px;
  --elementspacing: 5px;
}

* {
  border-radius: 5px;
  color: white;
  font-family: 'Lato';
  font-weight: 1000;
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  background-image: url("../img/weiskotten.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: var(--maxwidth);
  margin: 0 auto;
}

/*Class Files*/

.header-pane {
  border: 3px solid white;
  background-color: rgba(78, 181, 241, .7);
  width: 100%;
  margin-top: 30px;
  margin-bottom: var(--elementspacing);
}

.row-distribution {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-distribution {
  display: flex;
  float: left;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}

.upstate-seal {
  content: url('../img/upstate-seal.png');
  display: block;
  float: left;
  margin: 10px;
  height: 90px;
  background-color: white;
}
.upstate-seal2 {
  content: url('../img/upstate-seal.png');
  display: block;
  float: left;
  margin: 0;
  height: 90px;
}
/* Javascript HTML Values */

#clock-value {
  font-size: 50px;
}

#date-value {
  font-size: 35px;
  margin: 0;
  padding-bottom: 6px;
  padding-top: -6px;
}

#temp-value {
  font-size: 75px;
  float: left;
}

#weather-desc {
  font-size: 30px;
  display: block;
  text-transform: capitalize;
  margin-bottom: 7px;
}

/* Search Input */

.search-form {
  width: 100%;
  margin-bottom: var(--elementspacing);
}

.search-query {
  width: 100%;
  border: 3px solid rgb(78, 181, 241);
  text-indent: 8px;
  font-size: 20px;
  color: black;
  padding: 12px 10px 12px 40px;
}
.search-query:focus {
  outline: none;
}

.uptodate-icon {
  background-image: url('../img/uptodate.png');
  background-position: left;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 28px;
}

/* Link Buttons */

.container {
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 5px;
}

.link-btn {
  width: 100%;
  display: block;
  padding: 0.5em 0em;
  margin-top: 0;
  /*margin-bottom: var(--elementspacing);*/
  border: 3px solid white;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  transition: all .25s;
  background: rgb(78, 181, 241, .7);
  font-size: 20px;
}

.link-btn:hover {
  color: rgb(78, 181, 241);
  border: 3px solid rgb(78, 181, 241);
  border-radius: 2em;
  background-color: white;
}

.left-column {
  float: left;
  height: auto;
}

.right-column {
  float: right;
  height: auto;
}

.weather-pane {
  width: 100%;
  background-color: rgba(78, 181, 241, .7);
  border: 3px solid white;
  padding: .8em 1.2em;
  text-decoration: none;
  color: white;
}
.upstate-logo-small {
  height: 10px;
  width: 19px;
  background-image: url('../img/upstate_seal.png');
  display: none;
}

.weather-info {
  font-size: 26px;
  float: left;
}

.btn-icon {
  display: block;
  float: left;
  margin-left: 0;
  border: solid white;
  border-width: 3px;
}
.facebook {
  content: url('../img/facebook.png')
}
.gmail {
  content: url('../img/gmail.png')
}
.netflix {
  content: url('../img/netflix.png')
}
.youtube {
  content: url('../img/youtube.png')
}
.npr {
  content: url('../img/npr.png')
}
.groupme {
  content: url('../img/groupme.png')
}

.weather-icon {
  text-align: center;
  display: block;
}

.namecredits {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 18px;
  color: #474646;
  font-weight: 1000;
}
